/* app css stylesheet */

.small-note {
    color: blue;
    text-align: left;
    font-size: 75%;
}

.small-note-italic {
    color: blue;
    text-align: left;
    font-size: 75%;
    font-style: italic;
}