<!-- Footer -->
<footer>
<div class="row-fluid">
    <div class ="span8"></div>
    <div class = "span4" style ="text-align:right; margin:20ptx">    
        <h1><a href="#/">WiFinder</a></h1>    
        <p>Copyright &copy; WiFinder. All Rights Reserved. <a href="/company/disclaimer.asp">Disclaimer and Terms of Use</a>.</p>
        <a href="http://twitter.com/wifinderinc" target="_blank">
            <img align ="right" src="static/app/img/icon_twitter.png" />
        </a>
        <a href="http://www.youtube.com/user/Wifinderinc" target="_blank">
            <img align="right" src="static/app/img/icon_youtube.png" />
        </a>
    </div>
</div>
</footer>