<!-- Footer -->
<div class="span8">
</div>
<div class ="span4">
    <span align="right">
        <h2><a href="#/home">WiFinder.</a></h2>
        <p>Copyright &copy; WiFinder. All Rights Reserved.</p>
        <p><a href="#/">Disclaimer and Terms of Use</a></p>
        <a href="http://twitter.com/wifinderinc" target="_blank">
            <img align ="right" src="static/app/img/icon_twitter.png"/></a>
        <a href="http://www.youtube.com/user/Wifinderinc" target="_blank">
            <img align="right" src="static/app/img/icon_youtube.png"/></a>
    </span>  
</div>
