<div class="span4">

<h3>Pilih Lokasi</h3>

<!-- search -->
<div class="text-right">
    <div class="input-append text-right">
        <input type="text" ng-model="search" ng-enter="geoCode()"/>
        <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length==0" title="search" >
          &nbsp;<i class="icon-search"></i>
        </button>
    </div>
</div>   
<p class="small-note-italic">*tambahkan detail untuk hasil yang akurat, contoh: jalan xxx, kota, negara</p>

<h4>Apakah anda berada di: </h4>

<table class="table table-striped table-condensed table-hover">
    <tbody>
        <tr ng-repeat="place in places">
            <td><input type="radio" ng-model="selected.place" ng-value="place"></td>
            <td>{{place.name}}</td>
        </tr>
    </tbody>
</table>

<div class="form-actions">
    <button 
        class="btn btn-primary"
        ng-disabled="places==[] || selected.place.name=='None'"
        ng-click="submit('radio')">Tambahkan hotspot baru</button>
    <a href="#!/home" class="btn">Cancel</a>
</div>    
</div> <!-- span -->
<!--{google analytic script}-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46009756-1', 'wifinder.info');
  ga('send', 'pageview');

</script>

<div class="span1">
<div style="height:400px;vertical-align:middle;">

<h3>OR</h3>

</div>
</div>


<div class="span7">
<div class="google-map" 
     center="center"
     zoom="zoom" 
     markers="markers"
     mark-click="true"
     draggable="true"
     fit="false"
     style="height:500px;width:530px;margin:5px;box-shadow:0 3px 25px black"></div>

<p class="small-note">*Cari lokasi di form di bagian kiri. Geser dan zoom pada peta, klik untuk menambahkan marker pada posisi yang diinginkan, dan isi nama lokasi hotspot di kotak berikut.</p>
<!--<p>{{markers[0].latitude}}, {{markers[0].longitude}}</p>-->

    
<div class="form-actions">
    <label class="control-label">Anda berada di </label>
    <form class="form-search">
        <input type="text" class="input-medium" ng-model="name"/> 
        <button type="submit" 
                class="btn btn-primary"
                ng-disabled="markers.length==0 || name==''"
                ng-click="submit('marker')">Tambahkan hotspot baru
        </button>	
        <a href="#!/home" class="btn">Cancel</a>
    </form>
</div>
	   
</div>
