
<head>
<div class="span12">
<img  src="static/app/img/wifinder2.png">
</div> 
<div class = "row-fluid">
    <div class="span8">
    </div>
    
	<div class ="span4">
      <span align="right"><h5>
      <a href="#/home/{{center.latitude}}/{{center.longitude}}">Home  </a>  || 
      <a href="#/select/{{center.latitude}}/{{center.longitude}}/{{zoom}}">Add New Hospot</a>  ||
      <a href="--to be added --">Contact Us</a></h5>
      </span>  
   
    </div>
 </div>
 
 
 
 </head>
 <div class="span12">

<h3>Hotspot Added, Thanks!</h3> 

<div class="form-actions">
    <a href="#/home/{{center.latitude}}/{{center.longitude}}" class="btn btn-primary">Home</a>
</div>

</div>

<footer>

<div class="row-fluid">
	
		
		<div class ="span8">
	   
		</div>
		
		<div class = "span4" style ="text-align:right; margin:20ptx">
		
	      <h1><a href="--to be added--">WiFinder.</a></h1>
	        <p>
                Copyright &copy; WiFinder. All Rights Reserved. <a href="/company/disclaimer.asp">Disclaimer and Terms of Use</a>.
            </p>
	              <a href="http://twitter.com/wifinderinc" target="_blank"><img align ="right" src="static/app/img/icon_twitter.png" /></a>
                  <a href="http://www.youtube.com/user/Wifinderinc" target="_blank"><img align="right" src="static/app/img/icon_youtube.png" /></a>
		
	    
        </div>
</div>

</footer>